.ui-panel-title {
    background-color: blue!important;
    color: white!important;
}

.ui-panel-titlebar {
    background-color: blue!important;
    color: white!important;
}

.p-tabpanel {
    background-color: blue!important;
    color: white!important;
}

.greenText a {
    color: green;
}

.dvc {
    width: 350px!important;
    background-color: blue!important;
}