<div class="card bg-light">
  <div class="card-header alCenter cardtitle">

    <h4 class="titleform">
      <i class="fa fa-list" aria-hidden="true"></i> {{titlelist}}
    </h4>

    <button class="btn btn-success btnright" (click)="showNewDialoge()">
      <i class="fa fa-plus"></i>
    </button>

  </div>

  <!-- <div class="card-body">immuable="flse"a (onRowSelect)="onRowSelect($event)"-->
  <p-dataTable [value]="accidents" expandableRows="true" selectionMode="single" immuable="true" [(selection)]="selectedNode"
    (onNodeExpand)="nodeExpand($event)" rowExpandMode="single">
    <p-column expander="true" styleClass="col-icon"></p-column>
    <p-column field="id" header="Id"></p-column>
    <p-column field="classification" header="classification"></p-column>
    <!-- <p-column field="curdate" header="date"></p-column> -->
    <p-column field="curdate" header="date">
      <ng-template let-col let-m="rowData" pTemplate="body">
        <!-- <span [style.color]="car[col.field]"> -->
        {{m[col.field] | date:'shortDate'}}
        <!-- </span> -->
      </ng-template>
    </p-column>
    <p-column field="time" header="Heure">
      <ng-template let-col let-m="rowData" pTemplate="body">
        <!-- <span [style.color]="car[col.field]"> -->
        {{m[col.field] | date:'shortDate'}}
        <!-- </span> -->
      </ng-template>
    </p-column>
    <!-- <p-column field="time" header="time"></p-column> -->
    <p-column field="idsiteparent.name" header="site parent"></p-column>
    <p-column field="idsite.name" header="idsite"></p-column>
    <p-column field="sitedescription" header="description"></p-column>
    <p-column field="event" header="evenement"></p-column>
    <p-column field="idagentdeclare.name" header="agent declare"></p-column>
    <p-column field="idagentvalidate.name" header="agent valide"></p-column>
    <!-- <p-column field="datecreate" header="Crée le">
      <ng-template let-col let-m="rowData" pTemplate="body">
        {{m[col.field] | date:'shortDate'}}
      </ng-template>
    </p-column>
    <p-column field="owner" header="par"></p-column>
    <p-column field="dateupdate" header="Modifier le">
      <ng-template let-col let-m="rowData" pTemplate="body">
        {{m[col.field] | date:'shortDate'}}
      </ng-template>
    </p-column>
    <p-column field="lastuser" header="par"></p-column>
    <p-column styleClass="col-button">
      <ng-template let-m="rowData" pTemplate="body">
        <button class="btn btn-danger" (click)="deleteAccident(m)">
          <i class="fa fa-minus"></i>
        </button>
      </ng-template>
    </p-column> -->
    <ng-template let-item pTemplate="rowexpansion">
      <div class="card text-white bg-info mb-3">
        <div class="card-header">Info Accident</div>
        <div class="card-body">
          <!-- <h5 class="card-title"></h5> -->
          <p-tabView>
            <p-tabPanel [selected]="true" [header]="'Détail'">
              <div class="container">
                <div class="form-group row">
                  <label for="chid" class="col-sm-2 col-form-label">id : </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="chid" [value]="item.id" placeholder="Identificateur" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="chclassification" class="col-sm-2 col-form-label">classification : </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="chclassification" [value]="item.classification" placeholder="classification"
                      readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="chcurdate" class="col-sm-2 col-form-label">date : </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="chcurdate" [value]="item.curdate" placeholder="date" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="chtime" class="col-sm-2 col-form-label">heure : </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="chtime" [value]="item.time" placeholder="heure" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="chidsiteparent" class="col-sm-2 col-form-label">id site parent : </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="chidsiteparent" [value]="item.idsiteparent.name" placeholder="site parent" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="chidsite" class="col-sm-2 col-form-label">id site : </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="chidsite" [value]="item.idsite.name" placeholder="site" readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="chdescription" class="col-sm-2 col-form-label">description site</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="chdescription" [value]="item.sitedescription" placeholder="la description du site"
                      #name>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="chevent" class="col-sm-2 col-form-label">evenement</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="chevent" [value]="item.event" placeholder="l'evenement de l'accident" #name>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="chidagentdeclare" class="col-sm-2 col-form-label">déclarateur : </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="chidagentdeclare" [value]="item.idagentdeclare.name" placeholder="agent declare"
                      readonly>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="chidagentvalidate" class="col-sm-2 col-form-label">Validateur : </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="chidagentvalidate" [value]="item.idagentvalidate.name" placeholder="agent validate"
                      readonly>
                  </div>
                </div>
                <div class="clupdate">
                  <button class="btn btn-success" (click)="updateAccident(item, name)">
                    <i class="fa fa-check">Valider</i>
                  </button>
                  <button class="btn btn-warning" (click)="cancelUpdate(item)">
                    <i class="fa fa-times">Annuler</i>
                  </button>
                </div>
              </div>

            </p-tabPanel>
            <p-tabPanel [header]="'Dégât'" headerStyleClass="greenText">
              <app-accidentdetail [accident]="item"></app-accidentdetail>
            </p-tabPanel>
            <p-tabPanel [header]="'Cause'">
              <app-cause [idaccident]="item" [titlelist]="'Causes'"></app-cause>
            </p-tabPanel>
            <p-tabPanel [header]="'Recommandation'">
              <app-recommendation [idaccident]="item" [titlelist]="'Recommandations'"></app-recommendation>
            </p-tabPanel>
            <p-tabPanel [header]="'Action'"></p-tabPanel>
            <p-tabPanel [header]="'Investigation'"></p-tabPanel>
          </p-tabView>
        </div>
      </div>

    </ng-template>
  </p-dataTable>
  <!-- </div> -->
</div>

<p-dialog header="Accident Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="true" width="500">
  <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="newAccident">
    <div class="bdcontent">
      <span>
        <label for="iid">id : </label>
        <input type="text" class="form-control" id="iid" [(ngModel)]="newAccident.id" placeholder="Identificateur" readonly>
      </span>
      <!-- <span>
        <label for="iclassification"></label>
        <input type="text" class="form-control" id="iclassification" [(ngModel)]="newAccident.classification" placeholder="classification"
          readonly>
      </span> -->
      <br>
      <div class="alert alert-secondary" role="alert">
        <h5 class="alert-heading">classification :</h5>
        <hr>
        <div class="radio">
          <label>
            <input [(ngModel)]="newAccident.classification" type="radio" name="rb" value="A"> Accident
          </label>
          <label>
            <input [(ngModel)]="newAccident.classification" type="radio" name="rb" value="I"> Incident
          </label>
        </div>
      </div>

      <br>
      <div class="alert alert-secondary" role="alert">
        <h5 class="alert-heading">classification :</h5>
        <hr>
        <div class="form-group">
          <label for="iidsiteparent">Date :</label>
          <div class="input-group">
            <input placeholder="yyyy-mm-dd" name="d1" #c1="ngModel" [(ngModel)]="newAccident.curdate" ngbDatepicker #d1="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-secondary" (click)="d1.toggle()">
                <i class="fa fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
        <span>
          <label for="itime">heure : </label>
          <input type="text" class="form-control" id="itime" [(ngModel)]="newAccident.time" placeholder="time" readonly>
        </span>
      </div>
      <br>
      <div class="alert alert-secondary" role="alert">
        <h5 class="alert-heading">Localisation :</h5>
        <hr>
        <div class="form-group">
          <label for="iidsiteparent">site parent :</label>
          <select [(ngModel)]="newAccident.idsiteparent" id="iidsiteparent" class="form-control">
            <option value=""></option>
            <option *ngFor="let site of sites" [ngValue]="site"> {{site.name}} </option>
          </select>
        </div>
        <div class="form-group">
          <label for="iidsiteparent">site :</label>
          <select [(ngModel)]="newAccident.idsite" id="iidsiteparent" class="form-control">
            <option value=""></option>
            <option *ngFor="let site of sites" [ngValue]="site"> {{site.name}} </option>
          </select>
        </div>
        <span>
          <label for="isitedescription">description : </label>
          <input type="text" class="form-control" id="isitedescription" [(ngModel)]="newAccident.sitedescription" placeholder="description">
        </span>
      </div>
      <span>
        <label for="ievent">evenement</label>
        <input type="text" class="form-control" id="ievent" [(ngModel)]="newAccident.event" placeholder="l'évenement">
      </span>
      <br>
      <div class="alert alert-secondary" role="alert">
        <h5 class="alert-heading">Signature :</h5>
        <hr>
        <div class="form-group">
          <label for="iidagentdeclare">déclarateur :</label>
          <select [(ngModel)]="newAccident.idagentdeclare" id="iidagentdeclare" class="form-control">
            <option value=""></option>
            <option *ngFor="let agent of agents" [ngValue]="agent"> {{agent.firstname + ' ' + agent.lastname}} </option>
          </select>
        </div>

        <div class="form-group">
          <label for="iidagentvalidate">validateur :</label>
          <select [(ngModel)]="newAccident.idagentvalidate" id="iidagentvalidate" class="form-control">
            <option value=""></option>
            <option *ngFor="let agent of agents" [ngValue]="agent"> {{agent.firstname + ' ' + agent.lastname}} </option>
          </select>
        </div>
      </div>
      <div class="toolbtn">
        <button class="btn btn-primary" (click)="createAccident()">Submit</button>
        <button class="btn btn-warning" (click)="hideNewDialoge()">cancel</button>
      </div>
    </div>
  </div>