    <div class="card-header alCenter cardtitle">

        <h4 class="titleform">
            <i class="fa fa-list" aria-hidden="true"></i> {{titlelist}}
        </h4>

        <button class="btn btn-success btnright" (click)="showNewDialoge()">
            <i class="fa fa-plus"></i>
        </button>

    </div>
<app-accidentvehiculesh  [iddamage]="iddamage" [idgrid]="idgrid" [classification]="'S'" 
     [accidentdomain]="'6'" [titlelist]="'Vehicule SH'" ></app-accidentvehiculesh>
<app-accidentvehiculenonsh [iddamage]="iddamage" [idgrid]="idgrid" [classification]="'N'" 
     [accidentdomain]="'6'" [titlelist]="'Vehicule Non SH'"></app-accidentvehiculenonsh>